/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center; /* Center all text by default */
}

/* Headings */
h1 {
    text-align: center;
    color: #f98f1f;
    font-weight: bold;
    font-size: 48px;
}

h2, h3, #Registration, #Description {
    text-align: center; /* Keep headings and descriptions centered */
}

h2 {
    color: #888;
    font-size: 40px;
}

h3 {
    color: #f98f1f;
}

/* Form container */
form {
    max-width: 300px;
    margin: 0 auto;
    text-align: left; /* Align form elements to the left */
}

/* Labels should be left-aligned only above text fields */
form label {
    font-weight: bold;
    display: block; /* Ensure labels appear above inputs */
    margin-bottom: 5px;
    text-align: left; /* Align labels to the left */
    font-size: 14px; /* Adjust size if needed */
}

/* Input fields */
input[type="text"],
input[type="email"],
input[type="date"] {
    width: 100%;
    max-width: 250px;
    display: block;
    margin-bottom: 10px;
    border: 1px solid #888;
    border-radius: 5px;
    padding: 5px;
}

/* Phone input field (special case) */
.phone-input {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    margin: 0 auto;
}

#phoneNumber {
    margin-right: 10px;
    margin-top: 10px;
}

/* Button styles */
button {
    display: block;
    margin: 10px auto;
    background-color: #f98f1f;
    color: white;
    padding: 10px 20px;
    width: 250px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

button:hover {
    background-color: #FF5F15;
}

input[type="checkbox"] {
    vertical-align: middle; /* Align checkbox with text */
    margin-right: 5px; /* Add small spacing */
}

/* Label for the "No Email Address" checkbox */
.grey-label {
    font-size: 10px;
    color: #888;
    text-align: left; /* Change from center to left */
    display: inline; /* Make it inline with the checkbox */
    margin-left: 5px; /* Add small spacing */
}

/* Error messages */
.error-message {
    color: #ff0000;
    font-size: 12px;
    font-style: italic;
    display: block;
    margin-top: 5px;
    text-align: left;
}

/* Display box for user information */
#displayInfo {
    max-width: 300px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    text-align: center;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .powered-by {
    color: #888;
}

footer .mulah-rewards {
    color: #007bff;
    font-weight: bold;
}

footer p {
    display: inline;
}

/* Separator line */
.separator {
    border-top: 1px solid #ccc;
    margin-top: 100px;
}

